.survey {
    // height: -webkit-calc(100% - 50px);
    // transform: translateY(-20%);
    display: flex;
    height: auto;
    width: 100%;
    top: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5%;
    margin-bottom: 4%;
   
    h1{
    text-align: center;
    font-family: Roboto; 
    font-weight: medium;
    font-size: 24px;
    line-height: 21px;
    color: $font-colour;
    }

    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $font-colour;
    }

      form{
        padding-left: 2%;
        padding-bottom: 2%;
        width: 35%;
        border: 1px solid #02C39A;
        background: rgba(2, 195, 154, 0.3);
        box-sizing: border-box;
        border-radius: 15px;

        h2{
          font-family: Roboto;
          font-weight: normal;
          font-size: 18px;
          color: $font-colour;
        }

        p{
          font-family: Roboto;
          font-weight: medium;
          font-size: 16px;
          line-height: 16px;
          color: $font-colour;
        }

      input{
        @include button;
        width: 10%;
        #formID{
        background: #02C39A;
        color: font-colour;
        }
      }
    }
  }