.survey {
    // height: -webkit-calc(100% - 50px);
    // transform: translateY(-20%);
    height: auto;
    width: 40%;
    top: 100%;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(2, 195, 154, 0.3);
    border: 1px solid #02C39A;
    box-sizing: border-box;
    border-radius: 15px;

    .submit{
    width:$button-width;
    height: $button-height;
    background-color:$action-colour ;
    border-radius: $button-radius;
    filter: $button-shadow;
    }

    h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: font-colour;
    }

    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: font-colour;
    }
  }