.slides {
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  h2{
    @include pageHeaderText($font-colour)
  }

    #leftArrow{
      margin: 5%;
      align-self: center;
      border-radius: 5%;
      border-left: 0px;
      border-top: 40px solid #fff;
      border-right: 85px solid $secondary-colour;
      border-bottom: 40px solid #fff;
      transition: all .1s ease-in;

        &:hover{
          border-left: 0px;
          border-right:85px solid $action-colour;
          border-bottom: 50px solid #fff;
          border-top: 50px solid #fff;
        }
     
    }

    #rightArrow{
      margin: 5%;
      border-radius: 10%;
      align-self: center;
      border-right: 0px;
      border-top: 40px solid #fff;
      border-left: 85px solid $secondary-colour;
      border-bottom: 40px solid #fff;
      transition: all .1s ease-in;

        &:hover{
          border-left: 85px solid $action-colour;
          border-right: 0px;
          border-bottom: 50px solid #fff;
          border-top: 50px solid #fff;
        }
    }
  }

  .slide {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    transition: all 2s ease-in;

    .pieSlide{
      display: flex;
      flex-direction: row;
      width: 50%;
      padding-bottom: 2%;
    }
      .values{
        width: 50%;
        display: flex;
        flex-direction: column;

      .valueText{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        h4{
          font-weight: bold;
          font-size: 26px;
        }

        svg{
          max-width: 200px;
          max-height: 200px;
        }
        p{
          font-size: 16px;
          margin: 2%;
        }
        .box1{
          width: 50%;
          display: flex;
          flex-direction: column;

        #travelValue{
          color:#53AED5
        }
        #householdValue{
          color: #02C39A;
        }
      }
      .box2{
        width: 50%;
        display: flex;
        flex-direction: column;

        #goodsValue{
          color: #F46A67;
        }

        #foodValue{
          color: #FFE15B;
        }
      }
      }
    }

     .treeSlide{
       display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      img{
        height: 80%;
        width: auto;
      }

     }
  }

   .barChart{
    width: 40%;
   }

  

  