.results-main, .wrapper-Holder {
    position: relative;
    top: 2%;
    display: flex;
    justify-Content: center;
    align-Items: center;
    flex-Direction: column;
    width: 100%;

    .slide{
        width: 100%;
        margin-left: 15%;
        .barChart{
        padding-right: 15%;
        height: 30rem;
        }

        .chartInfo{
            @include pageText(normal, 1rem, $font-colour);
            width: 100%;
            margin-left: -15%;
            margin-right: 20%;
            align-self: center;

            h2{
                @include pageHeaderText($font-colour);
                font-size: 2rem;
                margin-left: -11%;
                 margin-right: 20%;
            }
        }

        .pieSlide{
        height: 25rem;
        width: 100%;
        }

        .treeSlide{
            width: 100%;
            height: 30rem; 
            justify-content: center;
            display: flex;
            flex-Direction: column;
        }
    }
    h1{
        width: 70%;
        margin-top: 3%;
        @include pageHeaderText($font-colour);
        border-bottom-style: dashed;
        border: $secondary-colour;
    }

    p{
        @include pageText(normal, 1rem, $font-colour);
        width: 70%;
    }

    button{
        @include button;
        justify-self: center;
        align-self: center;
        margin-bottom: 5%;
    }
}

.children{
    height: 100%;
    margin-right: 10%;
    width: auto;
    display: flex;
    align-Items: center;
    flex-Direction: column;
    text-Align: center;
    max-Width: 60rem;

    .endText{
        transform: translateX(25%);
    

        .resultButtons{
        transform: translateX(-15%);
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

            .backButton{
            @include button;
            width: 8%;
            height: 10%;
            margin-top: .1%;
            margin-left: 2%;
            padding-bottom: 1.7%;
            padding-top: 1.7%;
            text-decoration: none;
            }
        }
    }
}

img{
    max-height: 50%;
    height: 20rem;
    width: auto;
}

