/*
This scss document is for all the componments variables that used between our pages.  
*/

//Our webside colours 
$main-colour: #ffffff;
$secondary-colour: #02C39A;
$secondary-colour-shade: #2a3744;
$action-colour: #FF934F;
$action-colour-shade: #565d37;
$button-font-colour: #ffffff;
$font-colour: #484848;;
$font-shadow: 5px 5px 8px $font-colour;

//Our button variables
$button-width:  132px; 
$button-height:  32px;
$button-radius:  8px; 
$button-shadow: drop-shadow(1px 3px 2px  $font-colour); 

p{
    color: $font-colour;
    font-family: Montserrat;
    font-size: 12px;
}

// button 
button{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $button-font-colour;
    background-color: $action-colour; 
    border-radius:$button-radius;

    align-items: center;
    justify-content: center;
    }
    @mixin button{
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: $button-font-colour;
        background-color: $action-colour; 
        border-radius:$button-radius;
        align-items: center;
        justify-content: center;
        }

@mixin pageHeaderText {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $button-font-colour;
}

@mixin pageText($weight, $size){
    color: $button-font-colour;
    font-size: $size;
    font-weight: $weight;
}