@import "../Pages/Dashboard/Dashboard";
@import "../Pages/Frontpage/Survey/Survey";
@import "../Pages/Frontpage/LoginForm";
@import "../Pages/Frontpage/Results/TestResults";
@import "../Pages/Frontpage/FrontPage";
@import "../Shared/Header";
@import "../Shared/Footer";
@import "../Shared/Variables";
@import "../Pages/Dashboard/FootprintSlideshow/FootprintSlideshow";
@import "../Pages/Dashboard/Pledges/Pledges";
@import "../Pages/Frontpage/SignUpForm";
@import "../Pages/Dashboard/Stats/Stats";
/*
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&family=Noto+Sans+JP&family=Roboto:wght@100&display=swap');
*/

.App {
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
