@import "/src/Shared/Variables";
@import "./Survey/Survey";

#welcoming { 
  background-color: $main-colour;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
   
.mission {
  width: 750px;
  height: 120px;
  text-align: center;
  align-self: center;
  padding: 7% 10%;

  h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $font-button-colour;
    }  
  }
  .testButton {
      
      width: $button-width;
      height: $button-height;
      margin-bottom: 1%;
      margin-top: 1%;
      border-radius: $button-radius;
      filter: $button-shadow;
    }

  .centered {
    align-self: center;
    margin: auto;
  }
}