//@import  './../../EarthBG_006.jpg';

#welcoming { 
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $main-colour;
  background-image: url(./../../Shared/Images/Banner_Illustrations/Banner_002.jpg);
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-position: -0em -2em;
  min-height: 680px;
  width: 100%;
  //height: -webkit-calc(100% - 100px);  
  top: 50px;

  .mission { 
    //display: flex;
    width: 40%;
    height: 20%;
    align-self: center;
    margin-top: 7%;
    text-align: center;
    text-shadow: $font-shadow;
  
    h1{
      @include pageHeaderText($button-font-colour);
      } 

      p{
        @include pageText(bold,16px);
      }
    }
  
  .middelBox{
    margin-top: 6%;
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background: $secondary-colour;
    border-radius: $button-radius;
    filter: $button-shadow;
    h1{
      @include pageHeaderText($button-font-colour);
    }

    p{
      align-self: center;
      text-align: center;
      @include pageText(normal,16px);
    }

    #buttonBox{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      .testButton{
        margin: 5%;
        width: 20%;
      }

    }
  } 
}