.popup-wrapper {
    display: flex;
    justify-content: center;
  
    color: $action-colour;
    width: 20%;
    height: 20%;

  .sign-up-form {
    position: fixed;
    top: 40%;
    display: flex;
    flex-direction: column;

      color: $action-colour;
      width: 20%;
      height: 20%;
  
      }
  }
