.sign-up-form{
  border: groove $secondary-colour 2px;
  background-color: $button-font-colour;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5%;
  right: 5%;
  width: 30%;
  //height: 30%;
  border-radius: 20px;
  filter: $button-shadow;
  margin-right: 30%;
  margin-top: 17%;
  
    .SignUpH{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      width: 99.2%;
      margin-top: -.2%;
      margin-left: -.2%;
      border: solid  $secondary-colour;
      border-radius: 15px;
      background-color: $secondary-colour;
      align-self: flex-start;
      filter: $button-shadow;
      margin-bottom: 3%;

      h1{
        font-family: Montserrat;
        color: $button-font-colour;
        margin-left: 5%;
      }
    }

    .Inputs{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-around;
      margin-top: 1%;
      height: 60%;

      p{
        @include pageText(bold,0.87rem, $font-colour);
        color: $font-colour;
      }

      .userInputs{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 35%;
        margin-right: 10%;

        .Name{
          display: flex;
          flex-direction: row;
        }
        
        .Email{
          display: flex;
          flex-direction: row;
        }
        .Password{
          display: flex;
          flex-direction: row;
        }
          input {
          background: $Text-background;
          padding: 0;
          margin: 2%;
          }
      }  
      .signUpButton{
        @include button;
        font-size: 1rem;
        padding: 2%;
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 2%;
      }
   }
  }
